* {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif', sans-serif;
}

body {
    line-height: 1.4;
    font-size: 16px;
}

p {
    font-size: 1.25em;
    margin-bottom: 1.75rem; 
}

h1 {
    font-size: 2.8em;
    margin-bottom: 3.5rem; 
}

@media (max-width: 767px) {
    body {
        font-size: 14px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 2em;
        padding: 10px;
    }

    p {
        font-size: 1em;
        padding: 10px;
    }
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
}
